<div class="row">
	<app-department-selection-shared></app-department-selection-shared>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CC_doc-search-divider">
		<span>or</span>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CC_search-doctor-area">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<span>I know my doctor</span>
			<form>
				<mat-form-field class="CC_doc-search">
					<input type="text" aria-label="Number" matInput [formControl]="searcDoctorControl"
						[matAutocomplete]="auto" (input)="onSearch()">
					<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
						<mat-option *ngFor="let doctor of doctorSearchResult" [value]="getDoctorDisplayName(doctor)"
							(click)='onDoctorSelect(doctor)'>
							{{getDoctorDisplayName(doctor)}}
						</mat-option>
					</mat-autocomplete>
					<i class="glyphicon glyphicon-search" aria-hidden="true"></i>
				</mat-form-field>
			</form>
		</div>
	</div>
</div>