<div class="row">
	<!--div class="col-md-12">
		<h3 class="cc-clinic-title">{{clinic?.name}}</h3>
		<div class="cc-clinic-address">{{clinic?.address_line_1 + clinic?.address_line_2}}</div>
		<div class="cc-clinic-phone"> Phone: {{clinic?.phone_number}} </div>
	</div>
	<span class="close-frame">X</span-->
	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 widget-book-appoinment-title">
		<div class="cols" *ngIf="canDisplayBackButton()">
			<a [href]="" class='header-back-button'><i class="glyphicon glyphicon-menu-left"
					(click)="onBackButtonClicked()"></i></a>
		</div>
		<div class="cols" (click)="onAppointmentTitleClick()">
			<span>Book an Appointment</span>
			<span>{{clinic?.name}}</span>
		</div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right widget-book-appoinment-powered">
		<span>Powered by</span>
		<span><img src="{{logoUrl}}" alt="CareClues"></span>
	</div>
</div>